<div class="jumbotron jumbotron-home">
    <div class="container-fluid">
        <h1>Demo</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="col">
        <div class="row-md-12">
            <h3>Click on the link below to see our InVision demo app.</h3>
            <p><a href="https://invis.io/C6BETT5W7#/223427525_Home_Screen_-4-">DEMO</a></p>
            <h4>Instructions for the Demo</h4>
            <p>InVision is a simple prototyping app that helps developers like us get our ideas in front of users so we can get feedback on our ideas.  On any page, click anywhere you want and, if you haven't clicked on an actual button, blue squares will briefly show up to tell you where you can click to get interactive results.  For example, on our first page if you click on "produce", you'll be able to go through an example of how you could use Harvest Loop to choose local, organic produce near Boulder, Colorado.  Go on, give it a try!
        </div>
    </div>
</div>