<!-- <div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Homepage!!!</h1>
        <p>You are at the home page</p>
    </div>
</div> -->

<div class="container-fluid background-container">
    <div class="col">
        <div class="row-md-8">
            <h2>Interested in locally farmed foods?</h2>
            <p>Looking for a better way to find the locally produced foods you want?  We want to connect you directly to local farms with the delicious, healthy, more sustainable food you crave.  A direct connection helps both customers and farmers by eliminating costs and increasing visibility.</p>
            <p>Harvest Loop will provide that connection and convenience to go with it.  Instead of wandering aimlessly through a grocery store hoping to find a couple "local" items, imagine a fast, online selection process with options for local pickup or delivery to your home.  That's what we're building.</p>
            <p>In the mean-time, check out our demo app by clicking on the link above.
            <h3>Send an email to: </h3><h4>jessehintz44@gmail.com</h4>
        </div>
    </div>
</div>